body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  /* padding: 10px 20px;*/
  line-height: 1.6;
  width: 100vw;
  height: 100vh;
}

header {
  padding: 1rem;
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  align-items: center;
  font-size: 2rem;
  background-color: #333;
  color: white;
}

footer {
  position: static;
  bottom: 0;
  width: 100vw;
  display: flex;
  padding: 1rem;
  align-items: center;
  font-size: 2rem;
  background-color: #333;
  color: white;
}

.content {
  padding: 1rem;
}

.divider {
  margin: 1rem 0;
  width: 80vw;
  height: 1px;
  background-color: #888;
  /*box-shadow: #333;*/
}

main {
  min-height: 80vh;
}
